@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #fff;
}
